.card1{
    margin-left: 300px;
    margin-right: 300px;
    color: white;
}
.card2{
    color: white;
}
.card3{
    color: white;
}
.Charakter{
    margin-left: 180px;
    margin-right: 180px;
    font-family: Jost;
    color: white;
}
.Uberschrift{
    font-family: Jost;
    color: white;
    margin-left: 180px;
}
.

.Strich{
color: white;
margin-left: 180px;
}

body{
    background-image: url(Image/Hintergrund.jpg);
}

.Handlung1{
    color: white;
    font-family: Jost;
    margin-left: 100px;
}
.bla{
    color: white;
    font-family: Jost;
    margin-left: 100px;
}
.Trailer{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.TrailerV{
    margin-left: 100px;
}
.Cast1{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.Castiron1{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.Castiron11{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.Obi{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.Obi1{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.Rhodey{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.Rhodey1{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.pepper{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.pepper1{
    font-family: Jost;
    color: white;
    margin-left: 100px;
}
.Yin{
    font-family: Jost;
    color: white;
    margin-left: 100px;  
}
.Yin1{
    font-family: Jost;
    color: white;
    margin-left: 100px;  
}